<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbjx.demos.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.sunbjx.demos.model.entity.UserEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="head_src" jdbcType="VARCHAR" property="headSrc" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="autograph" jdbcType="VARCHAR" property="autograph" />
  </resultMap>
</mapper>